{{ form_start(form, {'attr' : {'class' : 'text-center form-group'}})  }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}