{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Créer un produit</h1>
<div class="container">
    {{ include('produits/_form.html.twig') }}
</div>
{% endblock %}